@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

$navbar-bg-color: #5c524d;
$white: #fff;
$color_default:#84c5fe;
$anchor-color: rgba(255, 255, 255, 0.75);
$color-black: #212121;
$color-accent: #86eaae;
$configuration-bg: #fafafa;
$border-color: #d5d5d5;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #D3CCE3;
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 90vh;
}

h1,
h2 {
    color: $color-black;
}

p {
    font-family: Almarai;
    font-size: 16px;
    font-weight: normal;
    color: $color-black;
}